<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"/>
	
	<title>CarloZanieri.it {{urlx}}</title>

	<meta name="author" content="Carlo Zanieri" />
	<link rel="shortcut icon" href="../favicon.ico"/>
	<link rel="stylesheet" type="text/css" href="static/menu_6/css/default.css" />
	
	<script src="static/menu_6/js/modernizr.custom.js"></script>
	<script src="static/js/jquery.js"></script>
		
    <style>
		.content { margin:50px auto; max-width:728px; line-height:1.7}
    </style>


</head>

<body>

		


	<div>

		<iframe  scrolling="no" width="100%" height="500 px" src="/slide?luogo={{luogo}}" frameborder="0" style="padding-top:1%;"></iframe>

	</div>
	
	<div   style="float:right; margin-left:1%; margin-right:1%;">
		<iframe  width="100%" height="500 px" src="/newss" frameborder="0" style="padding-top:1%;"></iframe>
	 	<iframe  width="100%" height="20%" src="static/riquadro.html" frameborder="0" style="padding-top:2%;"></iframe>

	<div class="video">
		<iframe width="20%" height="20%" src="https://www.youtube.com/embed/-lZO2ZzTWM4" frameborder="0"></iframe>
	</div>



	</div>

	<p style="text-align: justify;  color:#7e342d; margin-right:15%;margin-left:15%;">

		<img  class="zoom" src= "static/img/{{pagina[8]}}" width="12%" height="12%" alt="" style="float: left; margin: 15px 15px 15px 15px;"/>{{pagina[5]}}

		<img class="zoom" src="static/img/{{pagina[12]}}" width="12%" height="12%" alt="" style="float: right; margin: 15px 15px 15px 15px;"/>{{pagina[10]}}

	</p>

	<footer>
		<h1 style="color:#000000; margin-left:30%; margin-right:25%; margin-top:10%; margin-bottom:5%;">Si ringraziano gli Sponsor</h1>
		<div class="flex" ><img  src="static/img/Sponsor SPS 2020.jpg"/></div>
	</footer>

</body>
</html>
