<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"/>
	<link href="https://fonts.googleapis.com/css?family=Exo+2:300,400" rel="stylesheet"/>

	<title>CarloZanieri.it {{urlx}}</title>

		<meta name="author" content="Carlo Zanieri" />
		<link rel="shortcut icon" href="../favicon.ico"/>
		<link rel="stylesheet" type="text/css" href="static/menu_6/css/default.css" />
		<link rel="stylesheet" type="text/css" href="static/menu_6/css/component.css" />
		<script src="static/menu_6/js/modernizr.custom.js"></script>
		<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'/>
		<link rel="stylesheet" type="text/css" href="static/menu_6/css/default.css" />
		<link rel="stylesheet" type="text/css" href="static/menu_6/css/component.css" />
    <!-- css files -->
    <link rel="stylesheet" href="static/MENU/css/style.css"/>
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <!-- js files -->
    <style>
.content { margin:50px auto; max-width:728px; line-height:1.7}

    </style>
<style>

</style>
<script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
<link rel="shortcut icon" href="http://static.tmimgcdn.com/img/favicon.ico"/>
<link rel="icon" href="http://static.tmimgcdn.com/img/favicon.ico"/>
<link rel="stylesheet" type="text/css" href="static/menu_6/css/default.css" />
<link rel="stylesheet" type="text/css" media="all" href="static/news/css/styles.css"/>
<script type="text/javascript" src="static/news/js/jquery-1.11.0.min.js"></script>
<script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>

<script type="text/javascript" src="static/news/js/responsiveCarousel.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Exo+2:300,400" rel="stylesheet"/>
  <link rel="stylesheet" type="text/css" href="static/menu_6/css/default.css" />
	  <link rel="stylesheet" type="text/css" href="static/menu_6/css/component.css" />
	  <script src="static/menu_6/js/modernizr.custom.js"></script>
	  <script src="static/menu_6/js/jquery.dlmenu.js"></script>
  <link rel="stylesheet" type="text/css" href="static/menu_6/css/default.css" />
	  <link rel="stylesheet" type="text/css" href="static/menu_6/css/component.css" />
</head>
{% include 'menu5.html' %}
<body>
 
  
	<div id="w">
    
		<h1>BLOG {{urlx}}</h1>
		
		<nav class="slidernav">
		 
		  <div id="navbtns" class="clearfix">
			<a href="#" class="previous">prev</a>
			<a href="#" class="next">next</a>
		  </div>
		</nav>
	
		<div class="crsl-items" data-navigation="navbtns">
		  <div class="crsl-wrap">
		   {% for newss in news %}
			<div class="crsl-item">
			  <div class="thumbnail">
				<img  src= "static/news/img/{{newss.img}}" alt="{{newss.img}}"></img>
				<span class="postdate">{{newss.date.strftime("%d %B, %Y")}}</span>
			  </div>
	
			  <h3><a href="/news_one?titolo={{newss.title}}&amp;id={{newss.id}}">{{newss.title}}</a></h3>
	
			  <p>{{newss.html}}</p>
			  <form action="/news_one" method="post" accept-charset="utf-8" enctype="multipart/form-data" target="_parent">
				<input id="titolo" name="titolo" type="hidden" value="{{newss.title}}" />
				<input id="id" name="id" type="hidden" value="{{newss.id}}" />
				<input type="submit" value="readmore" />
			  </form>
			 <!-- <p class="readmore"><a href="/news_one?titolo={{newss.title}}&amp;id={{newss.id}}"  target="_parent">Read More</a></p> -->
			</div>
		  {% endfor %}
	
		  </div><!-- @end .crsl-wrap -->
		</div><!-- @end .crsl-items -->
	
	  </div><!-- @end #w -->
	  <script type="text/javascript" src="static/stellarnav/js/stellarnav.min.js"></script>
		<script type="text/javascript">
			jQuery(document).ready(function($) {
				jQuery('.stellarnav').stellarNav({
					theme: 'dark',
					breakpoint: 960,
					position: 'right',
					phoneBtn: '18009997788',
					locationBtn: 'https://www.google.com/maps'
				});
			});
		</script>
	
	<script type="text/javascript">
	$(function(){
	  $('.crsl-items').carousel({
		visible: 8,
		itemMinWidth: 180,
		itemEqualHeight: 370,
		itemMargin: 9,
	  });
	
	  $("a[href=#]").on('click', function(e) {
		e.preventDefault();
	  });
	});
	</script>
</body>
</html>
