<!DOCTYPE html>
<html lang="en" >
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/> 
		<title></title>
				
		<link rel="shortcut icon" href="../favicon.ico"/> 
		<link rel="stylesheet" type="text/css" href="static/css/scrol.css" />
		<script src="static/js/scrol.js"></script>
		
		
	</head>
    <body>
<nav>
    <div class="reference"></div>
    
    <ol>
      <li class="menu-item"><a href="#home">Home</a></li>
      
      <li class="menu-item"><a href="#about">About</a></li>
      
      <li class="menu-item">
        <a href="#widgets">Widgets</a>
        <ol class="sub-menu">
          <li class="menu-item"><a href="#bigwidgets">Big Widgets</a></li>
          <li class="menu-item"><a href="#biggerwidgets">Bigger Widgets</a></li>
          <li class="menu-item"><a href="#hugewidgets">Huge Widgets</a></li>
        </ol>
      </li>
      
      <li class="menu-item">
        <a href="#kabobs">Kabobs</a>
        <ol class="sub-menu">
          <li class="menu-item"><a href="#shishkabobs">Shishkabobs</a></li>
          <li class="menu-item"><a href="#bbqkabobs">BBQ kabobs</a></li>
          <li class="menu-item"><a href="#summerkabobs">Summer kabobs</a></li>
        </ol>
      </li>
      
      <li class="menu-item"><a href="#contact">Contact</a></li>
    </ol>
  </nav>
  
  <content>
  
    <div id="home">
      <h1>Home</h1>
    </div>
  
    <div id="about">
      <h1>About</h1>
    </div>
  
    <div id="widgets">
      <h1>Widgets</h1>
        
      <div id="bigwidgets"><h2>Big Widgets</h2></div>
      <div id="biggerwidgets"><h2>Bigger Widgets</h2></div>
      <div id="hugewidgets"><h2>Huge Widgets</h2></div>
    </div>
    
    <div id="kabobs">
      <h1>Kabobs</h1>
      
      <div id="shishkabobs"><h2>Shishkabobs</h2></div>
      <div id="bbqkabobs"><h2>BBQ kabobs</h2></div>
      <div id="summerkabobs"><h2>Summer kabobs</h2></div>
    </div>
      
    <div id="contact"><h1>Contact</h1></div>
    
  </content>
</body>
</html>